body {
    font-family: "Montserrat", sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #393E41;
}

p {

}

a {
    text-decoration: none;
    color:#000
}

.product_card_section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.product_card_item {
    flex: 0 0 3;
    width: 250px;
    min-height: 400px;
    height: 100%;
    background-color: #F6F7EB;
    padding: 14px;
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 5px;
    filter: drop-shadow(7px 7px 0px rgba(0, 0, 0, 0.3));

}

.product_card_item h2 {
    height: 50px;
    margin: 0 0 10px;
}

.product_card_item img {
    object-fit: contain;
    height: 250px;
    width: 100%;
}

.card_item_desc {
    overflow: hidden;
    height: 100px;
    text-overflow: ellipsis;
    font-size: 12px;
}

.card_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.bottom_btn {
    display: inline;
    right: 0;
    position: absolute;
    background-color: #E94F37;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 10px;
    filter: brightness(1);
    transition-duration: .2s;
    transform: translateY(0px);
}

.bottom_btn:hover {
    filter: brightness(.8);
    transform: translateY(2px);
    transition-duration: .2s;
}